#header {
  min-height: 96px;
  border-width: 1;
}

#canvas {

}

#footer {

}

#main {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  text-align: center;
}


.error {
  background-color: #ccccaa;
  color: #ff0000;
  display: none;
}
